<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>サンプル</title>
        <style type="text/css">
        </style>
	<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
	<script>
$(document).ready(function(){
});
        </script>
    </head>
    <body>
	<img src="images/lohaco_index.png" style="display:block;margin:auto;" />
    </body>
</html>
